<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ site.url }}/styles/style.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  </script>
  <style>
   </style>

</head>

<body>
<div id="container">
<!---- Menu ----->
  <div id="menu-container">
    <div class="menu-item" id="inj" onmouseover="highlightItem( 'inj' )" onmouseout="unhighlightItem( 'inj' )"><p><a href="{{ site.baseurl }}"><img src="{{ site.url }}/images/liberty-cap.jpg" height="12px" alt="liberty cap" /></a>&nbsp;&nbsp;<a class="menu-text" href="index.html">INJ</a></p></div>
    <div class="menu-item" id="land" onmouseover="highlightItem( 'land' )" onmouseout="unhighlightItem( 'land' )"><p><a href="{{ site.baseurl }}/land.html">Land</a></p></div>
    <div class="menu-item" id="people" onmouseover="highlightItem( 'people' )" onmouseout="unhighlightItem( 'people' )"><p> <a href="{{ site.baseurl }}/people.html">People</a></p></div>
    <div class="menu-item" id="land-use" onmouseover="highlightItem( 'land-use' )" onmouseout="unhighlightItem( 'land-use' )"><p> <a href="{{ site.baseurl }}/land-use.html">Land Use</a></p></div>
    <div class="menu-item" id="contribute" onmouseover="highlightItem( 'contribute' )" onmouseout="unhighlightItem( 'contribute' )"><p> <a href="{{ site.baseurl }}/submit.html">Contribute!</a></p></div>
    <div class="menu-item" id="why" onmouseover="highlightItem( 'why' )" onmouseout="unhighlightItem( 'why' )"><p> <a href="{{ site.baseurl }}/why.html">Why?</a></p></div>
  </div>

{{ content }}
  
  </div>
<script>
function highlightItem(item) {
	item = document.getElementById(item);
	item.style.background-color = "white";
}
function unhighlightItem (item) {
	item = document.getElementById(item);
	item.style.background-color = "#4d4d4d";
}

</script>


</body>
