<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ site.url }}/styles/style.css">


  <style>
   </style>

</head>

<body>
<div id="container">
<!---- Menu ----->
  <div id="menu-container">
  	<div class="menu-row" style="display: inline-block;">
    	<a href="{{ site.baseurl }}"><div class="menu-item" id="inj" onmouseover="highlightItem( 'inj' )" onmouseout="unhighlightItem( 'inj' )"><p><img src="{{ site.url }}/images/liberty-cap.jpg" height="12px" alt="liberty cap" />&nbsp;&nbsp;INJ</p></div></a>
    	<a href="{{ site.baseurl }}/land.html"><div class="menu-item" id="land" onmouseover="highlightItem( 'land' )" onmouseout="unhighlightItem( 'land' )"><p>Land</p></div></a>
    </div>
    <div class="menu-row" style="display: inline-block;">
    	<a href="{{ site.baseurl }}/people.html"><div class="menu-item" id="people" onmouseover="highlightItem( 'people' )" onmouseout="unhighlightItem( 'people' )"><p>People</p></div></a>
	<div class="menu-row" style="display: inline-block;">
    	<a href="{{ site.baseurl }}/land-use.html"><div class="menu-item" id="land-use" onmouseover="highlightItem( 'land-use' )" onmouseout="unhighlightItem( 'land-use' )"><p>Land Use</p></div></a>
	</div>
  	<div class="menu-row" style="display: inline-block;">
    	<a href="{{ site.baseurl }}/submit.html"><div class="menu-item" id="contribute" onmouseover="highlightItem( 'contribute' )" onmouseout="unhighlightItem( 'contribute' )"><p>Contribute!</p></div></a>
    	<a href="{{ site.baseurl }}/why.html"><div class="menu-item" id="why" onmouseover="highlightItem( 'why' )" onmouseout="unhighlightItem( 'why' )"><p>Why?</p></div></a>
    </div>
  </div>

{{ content }}
  
  </div>
  <script src="{{ site.url }}/js/mainmenu.js"></script>

</body>
